::selection {
    background-color: #87CEEB;
    color: #000000;
}

body {
    background-color: #F4F4F0;
    color: #000000;
    overflow-x: hidden;
}

.reveal-wrapper {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding-top: 0.1em;
    padding-bottom: 0.3em;
    margin-top: -0.1em;
    margin-bottom: -0.3em;
}

.reveal-text {
    transform: translateY(110%);
    display: inline-block;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F4F4F0;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}